/* Specifiek voor het formulier*/
input[type="text"], input[type="email"],textarea,select,button{
    display:block;
    margin:15px 0px;
    width:400px;
    box-sizing:border-box;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px lightscreen;
}
textarea{
    height:100px;
    padding:5px 4px;
}
button:active{
    background-color: darkgreen;
    color:white;
    border-radius: 4px; box-shadow: inset 2px 2px 5px blue;
}